<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>
</head>
<body style="font-family:Oswald; backgroundcolor:grey">
<center><h1 style="color:red">Wyniki losowania Lotto!</h1></center></br></br>
<center><img src="https://d-nm.ppstatic.pl/k/r/03/aa/54bcee4304fba_o.jpg?1488296951" height="100" width="100"/>
    <ul>
    <li th:each="lottoNr : ${lottoNumbers}" th:text="${lottoNr}"/>
</ul>
</center>
</body>
</html>